<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm border-0 p-4">
        <h2 class="text-center mb-4">Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, required: true, label: "Full name" %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.button :submit, "Sign up", class: "btn btn-primary w-100 mt-3" %>
        <% end %>
        <hr>
        <div class="text-center small">
          <p>Already have an account ? </p>
          <%= link_to "Log in", new_session_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
