<div class="container">
  <h1> <%= @topic.name %></h1>

  <%= simple_form_for [@topic, @chat] do |f| %>
    <%= f.input :message, label: "New Chat", placeholder: "What would you like to know?" %>
    <%= f.button :submit, "Send", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Back", topic_path(@topic), class: "mt-3 d-block" %>
</div>